@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metrics.css);

:root {
    --regular-gray-text: #667085;
    --title-gray-text: #101828;
    --red-text: #8E2424;
    --white: #FFFFFF;
    --text-logo-color: #3A404E;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}