@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metrics.css);
@import url(styles/talents.css);
@import url(styles/positions.css);
@import url(styles/statements.css);
@import url(styles/footer.css);

:root {
    --regular-gray-text: #667085;
    --title-gray-text: #101828;
    --red-text: #8E2424;
    --red-text-transparency: #8E24240D;
    --white: #FFFFFF;
    --text-logo-color: #3A404E;
    --light-gray: #EAECF0;
    --footer-background: #F9FAFB;
    --gray-color-form: #D0D5DD;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}