.banner {
    height: 80px;
    padding: 100px 325px;
    text-align: center;
}

.banner__span-text {
    color: var(--red-text);
    font-weight: 600;
}

.banner__main-text {
    color: var(--title-gray-text);
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 36px;
    margin-top: 24px;
}

.banner__regular-text {
    font-size: 20px;
    color: var(--regular-gray-text);
    line-height: 30px;
}