.footer {
    background-color: var(--footer-background);
    text-align: center;
}

.footer__title {
    font-weight: 600;
    font-size: 36px;
    padding-top: 96px;
}

.footer__content {
    font-size: 20px;
    color: var(--regular-gray-text);
    padding: 40px 0 20px 0;
}

.footer__copyright {
    color: var(--regular-gray-text);
    padding: 32px 0 96px 0;
}

input {
    width: 360px;
    padding: 12px 14px 12px 16px;
    border: 1px solid var(--gray-color-form);
    border-radius: 8px;
    color: var(--gray-color-form);
}

input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--regular-gray-text);
}